<div class="user-info">
	<div class="user-map" privacyhover>
		<img src="images/guidebook/privacyinfo.jpg" alt="1">
		<a class="privacy-hover" href="http://localhost:9000/#/" target="_blank">点击查看完整航路</a>
	</div>
	<div class="user-agency">
		<header>代办事宜</header>
		<section>
			<p>用户权限范围内内容展示</p>
		</section>
		<a class="more-info" href="">更多详情</a>
	</div>
	<div class="user-planestatus">
		<header>飞机状态</header>
		<section>
			<table>
				<tdead>
					<tr>
						<td>编号</td>
						<td>位置</td>
						<td>任务状态</td>
						<td>下次检修时间</td>
					</tr>
				</tdead>
				<tbody>
					<tr>
						<td>1</td>
						<td>北京市</td>
						<td>良好</td>
						<td>2015/12/19</td>
					</tr>
				</tbody>
			</table>
		</section>
		<a class="more-info" href="">更多详情</a>
	</div>
	<div class="user-pilot">
		<header>飞行员</header>
		<section>
			<table>
				<tdead>
					<tr>
						<td>姓名</td>
						<td>年龄</td>
						<td>飞行时数</td>
						<td>可驾机型</td>
						<td>任务状态</td>
					</tr>
				</tdead>
				<tbody>
					<tr>
						<td>刘国伟</td>
						<td>45</td>
						<td>15小时</td>
						<td>B-test1</td>
						<td>执行中</td>
					</tr>
				</tbody>
			</table>
		</section>
		<a class="more-info" href="">更多详情</a>
	</div>
	<div class="user-data">
		<header>统计数据</header>
		<section></section>
		<a class="more-info" href="">更多详情</a>
	</div>
</div>
<div class="systeminfo introduce">
	<div class="detail-title">
		<span>系统服务</span>
	</div>
	<div class="detail-content">
		<div class="system-left">
			<a href="" myhover>
				<img src="images/guidebook/weixiuke.png" alt="1">
				<div class="play-player"></div>
				<div class="unclor-layer"></div>
			</a>
			<div class="param">
				{{mysystemInfos.content}}
			</div>
		</div>
		<div class="system-middle">
			<a href="" myhover>
				<!-- <img src="images/guidebook/weixiuke.png" alt="1"> -->
				<div class="play-player"></div>
				<div class="unclor-layer"></div>
			</a>
			<div class="param">
				{{mysystemInfos.content}}
			</div>
		</div>
		<div class="system-right">
			<a href="" myhover>
				<img src="images/guidebook/weixiuke.png" alt="1">
				<div class="play-player"></div>
				<div class="unclor-layer"></div>
			</a>
			<div class="param">
				{{mysystemInfos.content}}
			</div>
		</div>
	</div>
</div>