		.chanpin_box{
		font-family:'黑体';
		margin:0px 0px 0px 95px;
		}
		.chanpin_title{
			font-size:14px;
			width:778px;
			color:#000;
			margin:25px 0px 9px 25px;
			padding-bottom:9px;
			border-bottom: 1px solid #ececec;
		}
		.chanpin_box img{
			width:27px;
		}
		.chanpin_one{
		
			margin:16px 201px 0px 25px;
		}
		.chanpin_one img{
			margin:2px 4px 25px 7px;
			float:left;
		}
		.chanpin_head{
			color:#006dbf;
			font-weight:bold;
			font-size:14px;
		}
		.chanpin_text{
			color:#757575;
			font-size:12px;
		}
		.chanpin_h1{
			float:left;
			width:190px;
		}
		.chanpin_title_one{
			font-size:14px;
			width:778px;
			color:#000;
		
			padding-bottom:9px;
			border-bottom: 1px solid #ececec;
		}