<div class="slider" broadcast>
	<div class="slider-wrap">
		<div class="slider-1 page">
			<div class="button-group">
				<a href="http://124.207.158.78:8092/#/" target="_blank">免费试用</a>
			</div>
		</div>
		<div class="slider-3 page"></div>
		<div class="slider-2 page"></div>
	</div>
	<ul class="bullet">
		<li class='fa'></li>
		<li class="fa"></li>
		<li class="fa"></li>
	</ul>
</div>
<div class="privacyinfo introduce">
	<div class="detail-title">
		<span>情报信息</span>
	</div>
	<div class="row-privacy">
		<img src="images/guidebook/pic-4.png" alt="暂无图片">
	</div>
	<div class="row-privacy">
		<img src="images/guidebook/pic-5.png" alt="暂无图片">
	</div>
	<div class="row-privacy">
		<img src="images/guidebook/pic-6.png" alt="暂无图片">
	</div>
</div>
<div class="systeminfo introduce">
	<div class="detail-title">
		<span>系统服务</span>
	</div>
	<div class="row-system">
		<div class="col-system">
			<img src="images/guidebook/zhanweitu.png" alt="暂无图片">
		</div>
		<div class="col-system">{{mysystemInfos.hfw}}</div>
	</div>
	<div class="row-system">
		<div class="col-system">
			<img src="images/guidebook/weixiuke.png" alt="暂无图片">
		</div>
		<div class="col-system">{{mysystemInfos.wxk}}</div>
	</div>
	<div class="row-system">
		<div class="col-system">
			<img src="images/guidebook/zhanweitu.png" alt="暂无图片">
		</div>
		<div class="col-system">{{mysystemInfos.hfw}}</div>
	</div>
</div>
<div class="contactinfo introduce">
	<div class="detail-title">
		<span>联系我们</span>
	</div>
	<div class="detail-content">
		<div class="contact-col-1 address">
			<p>{{mycontactInfos.address.name}}</p>
			<p>{{mycontactInfos.address.content}}</p>
		</div>
		<div class="contact-col-1 phone">
			<p>{{mycontactInfos.phone.name}}</p>
			<p>{{mycontactInfos.phone.content}}</p>
		</div>
		<div class="contact-col-1 email">
			<p>{{mycontactInfos.email.name}}</p>
			<p>{{mycontactInfos.email.content}}</p>
		</div>
	</div>
</div>
<div class="datacount introduce">
	<div class="detail-title">
		<span>数据统计</span>
	</div>
	<div class="row-datacount">
		<!-- <img src="images/guidebook/1202-2.png" alt=""> -->
	</div>
</div>