<div id="foot">
	<div class="foot">
    	<ul>
        	<li><h3><a href="#">产品</a></h3></li>
            <li><a href="#">随e飞</a></li>
            <li><a href="#">维修客</a></li>
            <li><a href="#">航服务</a></li>
            <li><a href="#">大数据可视化</a></li>
        </ul>
    	<ul>
        	<li><h3><a href="#">支持中心</a></h3></li>
          <li><a href="#">产品文档</a></li>
            <li><a href="#">常见问题</a></li>
            <li><a href="#">学习资料</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    	<ul>
        	<li><h3><a href="#">关于通航云</a></h3></li>
            <li><a href="#">招聘信息</a></li>
            <li><a href="#">用户协议</a></li>
            <li><a href="#">信息举报</a></li>
            <li><a href="#">了解通航云</a></li>
        </ul>
    	<ul class="hezuo">
        	<li style="width:330px;"><h3><a href="#">合作伙伴</a></h3></li>
            <li><a href="#">AOPA航空协会</a></li>
            <li><a href="#">首都通航研究院</a></li>
            <li><a href="#">华彬天星</a></li>
            <li><a href="#">海慧通航</a></li>
            <li><a href="#">中瑞通航</a></li>
          	<li><a href="#">临云行</a></li>
            <li><a href="#">极飞网</a></li>
            <li><a href="#">中航协通航委</a></li>
            <li><a href="#">民航安全管理网</a></li>
            <li><a href="#">飞行者联盟</a></li>
        </ul>
    </div>
    <div class="foot_nav">
        <a href="#">机场检索</a><a href="#">随e飞</a><a href="#">维修客</a><a href="#">通航供需平台</a><a href="#">气象情报</a>
        <p>Copyright©2013-2015通航云 tonghangyn.com 版板所有 京ICP备13040109号-2</p>
    </div>

</div>
</body>
</html>
