.loginBody{
	background:#f5f5f5 url(../images/login_bg.jpg) no-repeat center;
}
.login_content{
	width:525px;
	height: 390px;
	margin: 100px auto;  
  	/*position: absolute;  */
  	top: 0; left: 0; bottom: 0; right: 0; 
}
.login_logo{
	display:block;
	width: 226px;
	height: 62px;
	margin:0 auto;
	color:#666666;
	background: url(../images/logo.png) no-repeat center center;
}
.fm_field{
	width:520px;
	height:290px; 
  	background-color:#fff; 
}
.form{
	width: 450px;
	height: 200px;
	margin:0 auto;
}
label{
	line-height: 45px;
	display: block;
	font-weight: bold;
}
#name,#password{
	height: 42px;
	width: 322px;
	font-size: 15px;
	padding-left: 50px;
	margin:10px 0;
	border: 1px solid #ddd;
}
#name{
	background: url(../images/login_user.png) no-repeat 2px 2px;
}
#password{
	background: url(../images/login_pwd.png) no-repeat 2px 2px;
}