            <div class="geren_l">

        	<h3><img src="{IMG_PATH}icon/m_1.png" width="15" height="15" /> {L('manage_center')}</h3>
       	    <p {if ROUTE_A=="publish"} class="on"{/if}><a href="index.php?m=member&c=content&a=info_publish&siteid=1&city=" target="_blank"> {L('online_publish')}</a></p>
            <p {if ROUTE_A=="published"} class="on"{/if}><a href="index.php?m=member&c=content&a=published">{L('published_content')}</a></p>
{pc:message action="check_new"}
{php $new_arr = $data;}
{/pc}
      <span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
        	<h3>{L('account_manage')}</h3>
                <p{if ROUTE_A=="account_manage_info"} class="on"{/if}><a href="index.php?m=member&c=index&a=account_manage_info&t=1"> {L('modify').L('memberinfo')}</a></p>
                <p{if ROUTE_A=="account_manage_avatar"} class="on"{/if}><a href="index.php?m=member&c=index&a=account_manage_avatar&t=1"> {L('modify').L('avatar')}</a></p>
				{if !empty($memberinfo['encrypt'])}
				<p{if ROUTE_A=="account_manage_password"} class="on"{/if}><a href="index.php?m=member&c=index&a=account_manage_password&t=1"> {L('modify').L('email')}/{L('password')}</a></p>
				{/if}
				<p{if ROUTE_A=="account_change_mobile"} class="on"{/if}><a href="index.php?m=member&c=index&a=account_change_mobile&t=1"> {L('change_mobile')}</a></p>
				{loop $menu $k $v}
					{if $n==3}
                    {/if}
				{/loop}
        <span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
    </div>
    