<div id="foot">
	<div class="foot">
    	<ul>
        	<li><h3><a href="#">产品</a></h3></li>
            <li><a href="{APP_PATH}/index.php?m=content&c=index&a=lists&catid=56">随e飞</a></li>
            <li><a href="http://www.weixiuke.com.cn/">维修客</a></li>
            <li><a href="http://114.215.188.97:8080/OMMTest/">航服务</a></li>
            <li><a href="#">大数据可视化</a></li>
        </ul>
    	<ul>
        	<li><h3><a href="#">支持中心</a></h3></li>
          <li><a href="#">产品文档</a></li>
            <li><a href="#">常见问题</a></li>
            <li><a href="#">学习资料</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    	<ul>
        	<li><h3><a href="#">关于通航云</a></h3></li>
            <li><a href="#">招聘信息</a></li>
            <li><a href="#">用户协议</a></li>
            <li><a href="#">信息举报</a></li>
            <li><a href="#">了解通航云</a></li>
        </ul>
    	<ul class="hezuo">
        	<li style="width:330px;"><h3><a href="#">合作伙伴</a></h3></li>
			{pc:content action="lists" catid="28" num="12"}
			{loop $data $r}
          	<li><a href="{$r[url]}">{$r[title]}</a></li>
			{/loop}
			{/pc}
        </ul>
    </div>
    <div class="foot_nav">
        <a href="#">机场检索</a><a href="#">随e飞</a><a href="#">维修客</a><a href="#">通航供需平台</a><a href="#">气象情报</a>
        <p>Copyright©2013-2016通航云 tonghangyun.com.cn 版板所有 京ICP备14013104号-5</p>
    </div>

</div>
</body>
</html>
